/* Copyright 2002-2010 MarkLogic Corporation.  All Rights Reserved. */

body{
	font-family: Arial;
	text-align: center;
	background-color: #b3b5ac;
	margin:0px;
	color:#383e41;
}

#container {
	width:820px;
	text-align: left;
	margin-right:auto;
	margin-left:auto;
	background:transparent url(container_bg.png) repeat-y scroll 0 0;
	padding-bottom:10px;
}

a {
	color: #395686;
}

img {
	border:0 none;	
}

#flashcontent{
	border: solid 1px #d9dcd4;
	margin-right: auto;
	margin-left:35px;
	width:750px;
}
#updateArea {
	height: 250px;
	width:750px;
	margin-left:35px;
	margin-right:auto;
	clear:both;
	border:solid 1px #bdc0c1;
	margin-bottom: 50px;
}
#updateArea #resultsList{
	height: 230px;
	font-size:12px;
	overflow:visible; 
	overflow-x:hidden; 
	overflow-y:scroll;
	background-color:#FFFFFF;
}
#updateArea #resultsLabel{
	background: url("label_bg.png");
	background-color: #EEEEEE;
	color:#FFFFFF;
	text-transform: capitalize;
	font-size:12px;
	font-weight: bold;
	padding:3px;
}
#facetArea {
	font-family: Arial;
	height:125px;
	clear:both;
	width:754px;
	margin-right:auto;
	margin-left:auto;
}
#facetArea .facet{
	border:solid 1px #bdc0c1;
	height:115px;
	float:left;
	background: url("facets_bg.png");
	background-position: left 2px;
}
#facetArea .spacer{
	float:left;
	background-color:#ff0000;
}
#facetArea .facet .label {
	background: url("label_bg.png");
	background-color: #EEEEEE;
	color:#FFFFFF;
	text-transform: capitalize;
	font-size:12px;
	font-weight: bold;
	padding:3px;
}
#facetArea .facet .list {
	overflow:auto;
	height:95px;
	font-size:12px;	
}
#facetArea .facet .list .listItem{
	padding:2px;
}
#resetFacetsDiv{
	font-size: 12px;
	text-align: right;
	width:750px;
	margin-left: auto;
	margin-right: auto;
	}

#facetArea .listItemEven a{
	padding-left: 4px;
	text-decoration: none;
	color: #395686;
}
#facetArea .listItemOdd a{
	padding-left: 4px;
	text-decoration: none;
	color: #395686;
}  
#updateArea #resultsList a {
	color: #2a4c88;
}
#facetArea .listItemOdd {
	background-color:#c6dde6;
}
#facetArea .listItemEven {
	background-color:#FFFFFF;
}
#facetArea .selectedFacet {
	font-weight: bold;
	color: #000000;
}
#facetItemTable{
	width:100%;
	border:0px;
	padding:2px;
	margin: 0px;
}
#facetArea #facetItemTable td{
	width:100%;
	border:0px;
	padding:0px;
	margin: 0px;
}
#facetArea #facetItemTable tr{
	width:100%;
	border:0px;
	padding:0px;
	margin: 0px;
}
#facetArea #facetItemTable .coocValue {
	text-align:right;
}
#updateArea #resultsList a {
	color: #395686;
}
#resultsTable{
	width: 100%;
	border-spacing: 10px;
	color: #395686;
}
#resultsTable td{
	padding: 10px;
	margin: 10px;
	border-spacing:10px;
}
#updateArea #resultsList .sourceFacets {
	color:#2a5c96;
}
#updateArea .resultsItem {
	background-color: #c6dde6
}
#searchForm{
	text-align: right;
	padding-top:15px;
	margin-bottom: 25px;
	width:782px;
	}
	
.match {
	color:#FF0000;
	}
.locations {
	font-weight: bold;
	}
	
#copyright{
	border-top:1px dotted #999999;
	font-size:10px;
	margin-left:35px;
	margin-right:auto;
	width:750px;
}

#content{
	margin-left:35px;
	margin-right:auto;
	padding-bottom:15px;
	width: 500px;
}

#title{
	padding-top:10px;
	padding-bottom:5px;
	font-size: 20px;
	margin-left:35px;
	margin-right:auto;
}

#logo{
	/* margin-top: -50px; */
}